MONGO_URI =mongodb+srv://cihe22394:M72oa0ksf0OxRE0n@cluster0.hfocu.mongodb.net/products?retryWrites=true&w=majority&appName=Cluster0
NODE_ENV=development
PORT=5000
JWT_SECRET=Learn2DriveSecret123!
GOOGLE_CLIENT_ID=653318949779-qqsdtboc6m01up9k04kd42lp2ss3dkd4.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
FRONTEND_URL=http://localhost:5173
VITE_API_URL=http://localhost:5000